body {
			margin: 0;
			padding: 0;
			text-align: center;
			color: white;
}

.centered {
			margin: 0 auto;
			padding: 0;
			width: 800px;
}

.tableHeader {
			background-color: blue;
			border: 3px solid black;
}

.tableBody {
			background-color: gray;
			border: 3px solid black;
}

</style>