body {
			margin: 0;
			padding: 0;
			text-align: center;
}

.centered {
			margin: 0 auto;
			padding: 0;
			width: 800px;
			display: inline-block;
}

.tableHeader {
			background-color: black;
			height: 80px;
			margin: 0;
			line-height: 80px;
			color: white;
}

.tableBody {
			background-color: #e5e5cc;
			height: 450px;
			color: black;

}

.left {
			float:left;
			width: 55%;
			height: 100%;
			text-align: left;
			padding-left: 20px;
}

.right {
			float: right;
			width: 40%; /*left and right don't add up to 100% because of padding*/
			height: 100%;
			text-align: left;
}

.img-valign{
			vertical-align: top;
			padding-right: 20px;
			float:left;
}


</style>